.foodprint-ready {
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 35px;
    margin-top: 50px;
}

.foodselected-and-editbutton {
    margin-top: 50px;
    display: flex;
    width: 80%;
    justify-content: space-between;
}

    .food-selected-title {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 35px;
    }

    .edit-foodprint {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 35px;
        color: #F2C94C;
        background-color: transparent;
        cursor: pointer;
    }

        .edit-foodprint:hover {
            box-shadow: none;
        }

.categories-selected {
    background: #8435CE;
    border: 1px solid #333333;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 10px;
    width: 80%;
}

.four-categories {
    display: flex;
    justify-content: space-evenly;
}

.category-selected {
    background-color: #BB6BD9;
    width: 100%;
    /* margin: 1px; */
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    padding: 20px;
}

    .categories-selected-left {
        border-radius: 10px 0px 0px 0px;
    }

    .categories-selected-right {
        border-radius: 0px 10px 0px 0px;
        border-right: none;
    }

        .category-selected-title {
            font-family: Quicksand;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 5px;
        }

        .food-selected {
            display: flex;
            align-items: baseline;
        }
    
    .foodprint-nutritionalvalues {
        padding: 20px;
        font-family: Quicksand;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        justify-content: center;
    }

        .foodprint-nutritionalvalues-title {
            font-weight: bold;
        }

.weeklyfoodprint-title {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    margin-top: 60px;
    width: 80%;
}

.weeklyfoodprint-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 80%;
}

.weeklyfoodprint-impactcard {
    background: #FFFFFF;
    border: 1px solid #333333;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color:  #333333;
    text-align: center;
    width: 30%;
    margin-top: 10px;
}

    .impactcard {
        background: #FFECB3;
        border-radius: 10px 10px 0px 0px;
        padding: 20px;
    }

    .co2-color {
        background: #FFECB3;
    }

    .water-color {
        background: #B2EBF2;
    }

    .land-color {
        background: #DCEDC8;
    }

        .impactcard-title {
            font-family: Quicksand;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 40px;
        }

        .impactcard-subtitle {
            font-family: Quicksand;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
        }

    .topthree-section {
        margin: 20px 20px 50px 20px;
    }

    .topthree-title {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #333333;
    }

        .polluting-impact-selection {
            display: flex;
            align-items: baseline;
            padding: 25px 20px 0px 20px;
        }

        .polluting-impact {
            margin: 0px 20px 0px 20px;
            background: #FAFAFA;
            border: 1px solid #666666;
            box-sizing: border-box;
            border-radius: 15px;
            width: 90%;
            height: 22px;
        }

            .pollution-impact-filling {
                height: 20px;
                /* background: #FFECB3; */
                border-radius: 15px;
                /* position: absolute; */
                min-width: 7%;
                width: 7%;
            }

        .polluting-impact-values {
            display: flex;
            font-family: Quicksand;
            font-style: normal;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            color: #666666;
            justify-content: center;
            /* position: relative; */
            margin-top: 2px;
        }

        .polluting-impact-percentage {
            font-weight: bold;
        }

.weeklyfoodprint-support {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    width: 80%;
    margin-top: 10px;
}

    .arrow-desktop {
        height: 60px;
        margin: 30px 60px 30px 30px;
    }

    .foodprint-solution {
        margin-top: 30px;
        width: 1070px;
        display: flex;
        align-items: center;
        padding: 0px 40px 40px 40px;
        background: #BB6BD9;
        border: 1px solid #333333;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }

        .foodprint-alternative-title-section {
            width: 300px;
            display: flex;
        }

            .foodprint-alternative-title {
                font-family: Quicksand;
                font-style: normal;
                font-weight: bold;
                font-size: 28px;
                line-height: 35px;
                text-align: center;
            }