.pollutions {
    margin-left: 20px;
    margin-right: 20px;
  }
  
.pollutions-animation {
    animation: moveFromBottom 0.75s ease-in-out;
}

@keyframes moveFromBottom {
    0% { transform: translateY(2000px); opacity: 0%; }
    80% { transform: translateY(-10px); }
    100% { transform: translateY(0px); opacity: 100%; }
}