.solution {
    font-family: Quicksand;
    color: #FFFFFF;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .solution-title-section {
    width: 900px;
  }

  .solution-title {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    display: inline;
  }

    .solution-title-bold {
      font-weight: bold;
    }

    .uppercase {
      text-transform: uppercase;
    }

  .alternatives {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    margin-top: 50px;
  }

  .alternative-recommended{
    background-color: #6FCF97;
    border-radius: 15px;
    padding: 5px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #219653;
  }

    .alternative-recommended-text {
        padding: 5px;
    }

    .alternative {
        padding: 20px;
        background-color: #9B51E0;
        border-radius: 10px;
        /* cursor: pointer; */
        color: #FFFFFF;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        width: 850px;
    }

    .alternative-items {
        display: flex;
    }

    .alternative-amount {
      font-weight: normal;
      display: inline;
    }

    .alternative-not-rec {
        margin-top: 20px;
    }

        /* .alternative:hover {
            border: 3px dotted #FFFFFF;
        } */

        .alternative-impact {
            font-size: 23px;
            line-height: 29px;
            font-size: 16px;
            margin-top: 20px;
        }

        .warning {
          color: #F2C94C;
        }

        .same-impact {
          font-style: normal;
          font-weight: normal;
        }

        .solution-calculation {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 20px;
          background-color: transparent;
          border-color: transparent;
          color: #FFFFFF;
        }

        .solution-calculation:hover {
          box-shadow: none;
          text-decoration: underline;
          cursor: pointer;
        }

@media only screen and (max-width: 1000px) {
  
  .solution-title-section {
    width: 750px;
  }
  
  .alternative {
    width: 700px;
  }

}

@media only screen and (max-width: 800px) {

  .solution-title-section {
    width: 620px;
  }
  
  .solution-title {
    font-size: 30px;
    line-height: 40px;
  }
  
  .alternative {
    width: 600px;
    font-size: 28px;
  }

  .alternatives {
    font-size: 25px;
    margin-top: 30px;
  }
  
}

@media only screen and (max-width: 700px) {

  .solution-title-section {
    width: 580px;
  }

  .solution-title {
    font-size: 28px;
    line-height: 35px;
  }
  
  .alternative {
    width: 550px;
    font-size: 25px;
  }

  .alternatives {
    font-size: 22px;
    margin-top: 20px;
    line-height: 30px;
  }
  
}

@media only screen and (max-width: 630px) {

  .solution-title-section {
    width: 520px;
  }

  .solution-title {
    font-size: 25px;
    line-height: 35px;
  }
  
  .alternative {
    width: 500px;
    font-size: 23px;
  }

  .alternatives {
    font-size: 20px;
    margin-top: 20px;
    line-height: 30px;
  }
  
}

@media only screen and (max-width: 600px) {

  .solution-title-section {
    width: 450px;
  }

  .solution-title {
    font-size: 23px;
    line-height: 35px;
  }
  
  .alternative {
    width: 400px;
    font-size: 23px;
  }

  .alternatives {
    font-size: 20px;
    margin-top: 20px;
    line-height: 30px;
  }
  
}

@media only screen and (max-width: 500px) {

  .solution-title-section {
    width: 400px;
  }

  .solution-title {
    font-size: 22px;
    line-height: 35px;
  }
  
  .alternative {
    width: 360px;
    font-size: 23px;
  }

  .alternatives {
    font-size: 20px;
    margin-top: 20px;
    line-height: 30px;
  }
  
}

@media only screen and (max-width: 450px) {

  .solution-title-section {
    width: 350px;
  }

  .solution-title {
    font-size: 26px;
    line-height: 35px;
  }
  
  .alternative {
    width: 320px;
    font-size: 23px;
  }

  .alternatives {
    font-size: 20px;
    margin-top: 20px;
    line-height: 30px;
  }
  
}

@media only screen and (max-width: 400px) {

  .solution-title-section {
    width: 300px;
  }

  .solution-title {
    font-size: 23px;
    line-height: 35px;
  }
  
  .alternative {
    width: 290px;
    font-size: 23px;
  }

  .alternatives {
    font-size: 20px;
    margin-top: 20px;
    line-height: 30px;
  }
  
}

@media only screen and (max-width: 375px) {

  .solution-title-section {
    width: 280px;
  }

  .solution-title {
    font-size: 21px;
    line-height: 35px;
  }
  
  .alternative {
    width: 250px;
    font-size: 20px;
  }

  .alternatives {
    font-size: 20px;
    margin-top: 20px;
    line-height: 30px;
  }

  .alternative-impact {
    font-size: 14px;
    margin-top: 10px;
  }
  
}

@media only screen and (max-width: 345px) {

  .solution-title-section {
    width: 230px;
  }

  .solution-title {
    font-size: 21px;
    line-height: 35px;
  }
  
  .alternative {
    width: 200px;
    font-size: 16px;
  }

  .alternatives {
    font-size: 20px;
    margin-top: 20px;
    line-height: 30px;
  }

  .alternative-recommended{
    font-size: 13px;
  }

  .alternative-impact {
    font-size: 12px;
  }
  
}