/* @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap'); */

body {
  background-color:#FFFFFF;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  /* align-items: center;   */
  text-align: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: Open Sans;
}

.header {
  background-color: #E5E5E5;
  color: #4F4F4F;
}

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
  }

    .logo {
      color: #828282;
      font-family: Mansalva;
      font-size: 1.5em;
      padding: 0.3em;
      position: absolute; 
      top:0; 
      left:0;
    }

    a:link, a:visited, a:active {
      text-decoration: none;
      color: #4F4F4F;
      font-weight: normal;
    }
    
    a:hover {
      text-decoration: underline;
      color: #4F4F4F;
    }
    
    .current{
      font-weight: bold;
    }

      .desktop {
        list-style-type: none;
        display: flex;
        margin-right: 1em;
      }

        li {
          margin-left: 1em;
        }

      .hamburger, .mobile {
        display: none;
      }

        .nav {
          font-size: 1.3em;
        }

        .page {
          padding: 0.3em;
        }

      @media only screen and (max-width: 768px) {

        .desktop{
          display: none;
        }

        .mobile {
          display: block;
        }

        .menu {
          justify-content: center;
        }

        .logo {
          font-size: 2em;
          padding: 0.3em;
          position: relative;
        }
          
        .hamburger {
          display: block;
          float: right;
          cursor: pointer;
          position: absolute;
          top: 1.1em;
          right: 0;
          margin-right: 1em;
        }
        
      }

.intro {
  width: 20em;
}

.footer {
  margin-top: 5em;
  padding: 2em;
}

.icon {
  margin: 2em;
}